#landing-page {
  height: calc(100vh - 51px);
  width: 100%;
  background-image: url('./images/desktop-navy-blue-texture-background.jpg');
  overflow-y: scroll;
}

#landing-page-header {
  font-family: 'Poppins', sans-serif;
  margin-bottom: 50px;
}

#welcome {
  font-size: 2rem;
}

@media screen and (max-width: 500px) {
  #landing-page {
    background-image: url('./images/mobile-navy-blue-texture-background.jpg');
  }

  #landing-page-header {
    font-size: 3rem;
    margin: 50px 0 ;
  }

    #landing-header-top {
      /* font-size: 1.75rem; */
      letter-spacing: 1px;
    }
    
    #riggs {
      font-family: 'Aguafina Script', cursive;
      font-size: 4rem;
      letter-spacing: 5px;
      text-shadow: 1px 1px 2px rgb(94, 87, 0);
    }
    
    #landing-header-middle {
      /* font-size: 1.75rem; */
      letter-spacing: 10px;
      padding-left: 12px;
    }
    
    #landing-header-bottom {
      /* font-size: 1.75rem; */
      letter-spacing: 0px;
    }

  #welcome {
    font-size: 2rem;
  }
  
  .greeting-message {
    font-size: 1.4rem;
    line-height: 1.1;
    padding-top: 40px;
  }
}