#recipe-page {
  height: calc(100vh - 51px);
  width: 100%;
  background-image: url('./images/desktop-white-marble-background.jpg');
  overflow-y: scroll;
}

#recipe-list {
  /* position: sticky; */
}

@media screen and (max-width: 500px) {
  #recipe-page {
    font-size: 1.1rem;
    background-image: url('./images/mobile-white-marble-background.jpg');
  }

  h2 {
    font-size: 1.6rem;
  }
  
  h3 {
    font-size: 1.4rem;
  }

  #recipe-list {
    margin: 20px;
  }

  .recipe {
    margin: 100px 0;
  }

  .recipe-header {
    margin-bottom: 30px;
    line-height: 1.1;
  }

    .recipe-title {
      margin-bottom: 10px;
    }

    .serving-size {
    
    }

    .total-time {

    }

    .recipe-backstory {
      margin-top: 20px;
      line-height: 1.1;
    }

  .ingredient-list {
    margin-bottom: 30px;
  }

    .ingredient-header {
      width: 50%;
      padding-bottom: 5px;
      border-bottom: 1px solid black;
      margin: 0 auto 15px auto;
    }

    .ingredient-quantity-container {
      width: 35%;
      padding: 5px;
    }

      .ingredient-amount {

      }

    .ingredient-item-container {
      width: 65%;
      padding: 5px;
    }

      .ingredient-item {

      }

      .ingredient-preperation {

      }

  .recipe-directions {

  }

    .directions-header {
      width: 50%;
      padding-bottom: 5px;
      border-bottom: 1px solid black;
      margin: 0 auto 15px auto;
    }

    .direction {
      line-height: 1.1;
      margin-bottom: 15px;
    }
}